.wrapper {
    width: 100%;
}
.container {
    width: 100%;
}
.banner {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.image-banner {
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.content {
}
