@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primaryColorBg: #170f23;
    --sidebarColorBg: #ffffff0d;
    --popperBg: #432275;
    --playControlBg: #120c1c;
    --font-family: Inter, 'sans-serifInter';
    --search-height: 40px;
    --search-border-radius: 20px;
    --purple-primary: #7200a1;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-family: Inter, 'sans-serif';
    font-size: 1.6rem;
    line-height: 1.5rem;
    text-rendering: optimizeSpeed;
    overflow: overlay;
}
//scrollbar CSS
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 4px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ccc;
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
button,
input,
[tabindex],
textarea {
    outline: none;
    border: none;
}
a {
    color: var(--text-color);
    text-decoration: none;
}

//Custom styles for Tippy

body {
    .tippy-box {
        border-radius: 8px;
        height: 24px;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        background-color: rgba(84, 84, 84, 0.92);
        color: rgb(255, 255, 255);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
        top: -8px;
    }
    .tippy-content {
        padding: 8px 8px;
    }
}
