.wrapper {
    margin-top: 48px;
}

.header {
    margin-bottom: 24px;
}

.title {
    font-size: 2.2rem;
    color: #fff;
}

.section-list {
    position: relative;
    display: flex;
}
.section-list.vertical {
    display: flex;
    flex-wrap: wrap;
    height: 320px;
    overflow: hidden;
}
