.wrapper {
    display: flex;
    align-items: center;
    position: fixed;
    left: 240px;
    top: 0;
    right: 0;
    z-index: 99;
    min-width: 660px;
    height: 70px;
    box-shadow: 0 3px 5px var(--primaryColorBg);
    background-color: var(--primaryColorBg);
}
.inner {
    padding: 0 59px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.level-left {
    display: flex;
    flex-grow: 1;
    margin-right: 10px;
}

.button-prev {
    display: inline-flex;
}

.left-arrow {
    color: #5c5765;
    font-size: 2rem;
    margin-right: 20px;
}

.button-next {
    display: inline-flex;
}

.right-arrow {
    color: #5c5765;
    font-size: 2rem;
    margin-right: 20px;
}
.level-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.btn {
    + .btn {
        margin-left: 8px;
    }
}

.diamond-icon {
    color: #eee;
}

.upload-icon {
    color: #eee;
}

.gear-icon {
    color: #eee;
}
