.wrapper {
    width: 100%;
}

.song-item {
    overflow: hidden;
    width: 100%;
}
.song-item.playing {
    background-color: #ffffff1a;
    .play-action {
        opacity: 1;
    }
}

.media {
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 4px;
    background-color: transparent;
    border-bottom: 1px solid #ffffff1a;
    &:hover {
        background-color: #ffffff1a;
    }
    &:hover .play-action {
        opacity: 1;
    }
}

.media-left {
    display: flex;
    width: 50%;
}

.song-prefix {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.serial-number {
    font-size: 2.8rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
    -webkit-text-stroke: 1px var(--text-primary);
    min-width: 60px;
    color: transparent;
}

.serial-number.top-1 {
    -webkit-text-stroke: 1px var(--top-1-color);
}
.serial-number.top-2 {
    -webkit-text-stroke: 1px var(--top-2-color);
}
.serial-number.top-3 {
    -webkit-text-stroke: 1px var(--top-3-color);
}

.song-thumb {
    margin-right: 10px;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: relative;
    flex-shrink: 0;
}
.song-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.play-action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.btn-play {
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.icon-play {
    color: #fff;
}
.icon-pause {
    color: #fff;
}
.song-info {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: #fff;
}

.title-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.song-title {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song-artists {
    line-height: 1.2rem;
    margin-top: 3px;
}

.song-singer {
    color: #ffffff80;
    font-size: 1.2rem;
}
.media-content {
    flex: 1 1 auto;
    display: flex;

    align-items: center;
    justify-content: flex-start;
}

.album-info {
    max-width: 100%;
    overflow: hidden;
}

.album-name {
    color: #ffffff80;
    font-size: 1.2rem;
}
.media-right {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}
.action-item {
    display: flex;
}

.duration-item {
    font-size: 1.2rem;
    width: 46px;
    color: #ffffff80;
}
