.wrapper {
    width: 100%;
}
.header {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.title {
    font-size: 3.6rem;
    font-weight: 600;
    color: #fff;
}
.btn {
    background-color: transparent !important;
    width: 40px;
    height: 40px;
    margin-left: 4px;
}
.icon {
    width: 40px;
    height: 40px;
    color: var(--purple-primary);
}
.chart {
    width: 100%;
    margin-bottom: 10px;
}

.chart-item {
    max-height: 300px !important;
}
.top100 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-show {
    margin-top: 30px;
    width: 140px !important;
    height: 40px !important;
    background-color: transparent !important;
    color: #fff;
}
.week-chart {
    margin-top: 50px;
    background-color: #201335e6;
    padding: 40px 10px;
    border-radius: 20px;
    .header {
        margin-left: 24px;
    }
}
.week-chart-list {
    margin-top: 20px;
    display: flex;
}
